In [1]:
print('hello world!') #My very first Python code

hello world!

In [7]:
#Python Data Types
#1. Numbers
#2. Strings
#Integers and Float

In [5]:
#Integer (int)
x = 1
y = 2
print(x + y)

3

In [6]:
#Float
x = 1.5
y = 2.0
print(x + y)

3.5

In [8]:
#Strings
x = 'Hello'
y = 'World'
print(x + y)

HelloWorld

In [9]:
print('My name is Sammy') #Single Quotation Mark

My name is Sammy

In [10]:
print("My name is Sammy") #Double Quotation Mark

My name is Sammy

In [16]:
x = '123456'
y = 123456
z = 7890.00
print('This is a string', x)
print("This is an integer", y)
print('This is a float', z)

This is a string 123456
This is an integer 123456
This is a float 7890.0

In [20]:
#\n (for spacing)
print('Samantha \nMarie')
print('Abarca \nEusebio')

Samantha
Marie
Abarca
Eusebio

In [26]:
#Mathematical Operators
#Addition (+)
#Substraction (-)
#Multiplication (*)
#Division (/)
#Modulo Operator (%)
#Exponential (**)
#Floor Division (//)

a = 2
b = 3
print(a+b) #Addition
print(a-b) #Substraction
print(a*b) #Multiplication
print(a/b) #Division

x = 9
y =  4
print(9 % 4) #Modulo Operator

print(x ** 2)
print(2 **3) #Exponential

5
-1
6
0.6666666666666666
1
81
8

In [27]:
print(9 / 5) #Division
print(9 // 5) #Floor Division

1.8
1

In [39]:
#Comparison Operators
# Less than (<)
# Greater Than (>)
# Equal to (==)
# Not Equal to (!=)
# Greater than or Equal to (>=)
# Less than or Equal to (<=)
# Output results to Boolean Values (True or False)

x = 10
y = 5

print(x < y)
print(x > y)

False
True

In [38]:
# Boolean Operators
# or
# and
# not

print(x or y)
print(x and y)
print(x, not y)

10
5
10 False

In [40]:
# Looping

x = 5

if x == 10:
  print('Equal to')
else:
  print('Less than')

Less than

In [50]:
# Assignment of Variables

# Strings
name = 'Samantha'
surname = 'Eusebio'
print(name + surname)

# Numbers
hours = 8
score = 90
print(hours)
print(score)

# Naming Variable (always use small cap)

name = 'Lalisa'
unitPrice = 100
unit_price = 200

SamanthaEusebio
8
90

In [52]:
f_name = 'Lalisa'
l_name = 'Manoban'
age = 23

print(f'My name is {f_name} {l_name} and I am {age} years old')

My name is Lalisa Manoban and I am 23 years old

In [65]:
#Built-in Functions
#type() to know the data type
#Rounding off round ()

x = 9 #Integer
y = 8.78999 #float
z = 'Sammy' #string

type(x)

round(y, 3)

8.79